* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #fffaf5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/img/background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  background-attachment: fixed;
}

header {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 1.5rem;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover, nav a.active {
  color: #e67e22;
}

main {
  text-align: center;
  margin-top: 3rem;
  flex: 1;
}

main h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.page-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 50px;
  color: #333;
}

.lead {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.hero-container {
  background: #fff8e6;
  border-radius: 20px;
  padding: 40px 20px;
  max-width: 700px;
  margin: 10px auto 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  text-align: center;
}

.hero-container .page-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.hero-container .lead {
  font-size: 1.2rem;
  color: #555;
}

main p {
  color: #555;
  margin-bottom: 2rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 32px;
  max-width: 920px;
  margin: 0 auto;
  padding: 20px;
}

.category {
  background: #fffBe6;
  border-radius: 14px;
  padding: 34px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

.category img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.category-label {
  font-size: 1.2rem;
  font-weight: 670;
  color: #444;
}


footer {
  background-color: #edb06e;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #777;
  border-top: 1px solid #eee;
}

@media (min-width: 644px) and (max-width: 855px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    justify-items: center;
  }

  .category {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
    header {
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
  }
  .hero-container{
    margin-top: 20px;
  }

  .page-title {
    font-size: 1.8rem;
  }

  .lead {
    font-size: 1rem;
  }

  .category {
    padding: 30px;
  }

  .category img {
    width: 70px;
    height: 70px;
  }
}
